<% title("sign_up"); description %>
<h2><%= t(:".sign_up") %></h2>

<%= simple_form_for(resource, :as => resource_name, :url => registration_path(resource_name)) do |f| %>
  <% f.object.application_language_code ||= I18n.locale.to_s.upcase %>
  <% f.object.time_zone ||= Time.zone.name %>
  <div class="inputs">
    <%= f.input :email %>
    <%= f.input :password, :input_html => {:autocomplete => :off} %>
    <%= f.input :password_confirmation, :input_html => {:autocomplete => :off} %>
    <%= f.input :application_language_code, :collection => Language.application.collect{|l| [l, l.code.to_s.upcase]} %>
    <%= f.input :time_zone %>
  </div>

  <div class="actions">
    <%= f.button :submit, t(:'.sign_up') %>
  </div>
<% end %>

<div id="devise_shared_links">
  <%= render :partial => "devise/shared/links" %>
</div>

<%= multiselect_js %>