<h1><%= resource.title %></h1>
<p class="title-video-info">
  <%= resource.language %>,
  <%= resource.creator %>,
  <%= l(resource.created_at.to_date, :format => :long) %>
</p>
<%= simple_format(resource.description, {:class => "video-description"}) %>
<div class="video-player">
  <%= embed_player(resource.embed_provider, resource.embed_id) %>
</div>

<%= render :partial => 'comments/comments', :locals => {:commentable => resource} %>